{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p class="date">{{ .Date.Local.Format "January 2, 2006" }}</p>

 <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ce18886e5446fc9"></script>
               
            
  {{ .Content }}
 
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
{{ end }}
